.App {
  background-color: #1c1938;
  background-size: cover;
  

}
.blue{
  color: #593b7d;
}
.row{
  color: white;
}

img{
  background-image: url(./business.jpg);
  height: 100vh;
  width: 80vh;
  float: right;
  position: relative;
  top: -15em;
  overflow-y: hidden;
}